
/* 모달 */

.day-modal {
   width: 290px;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 1;
}



.day-modal .day-modal-wrap {
    display: block;
    width: 290px;

    border: 1px solid #212344;
    background-color: #303f9f;
}

.day-modal .day-modal-wrap .header {

}

.day-modal .day-modal-wrap .header .year {
    color: #fff
}

.day-modal .day-modal-wrap .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
}

.day-modal .day-modal-wrap .header .nav .nav-btn {
    width: 36px;
    height: 36px;
    background-color: #303f9f;
    color: #fff;
    border: 0;
    outline: 0;
}

.day-modal .day-modal-wrap .day-modal-main {
    padding: 0 12px;
    height: 242px;
    display: flex;
}

.day-modal .day-modal-wrap .day-modal-main .months {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.day-modal .day-modal-wrap .day-modal-main .months .month {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 10px;
    background-color: #303f9f;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 8px;
}

.day-modal .day-modal-wrap .day-modal-main .months .month.to {
    border: 1px solid red;
}

.day-modal .day-modal-wrap .day-modal-main .months .month:hover {
    background-color: rgba(130, 134, 156, 0.5);
}

.day-modal .day-modal-wrap .day-modal-main .months .month.active {
    background-color: rgba(193, 193, 193, 0.7);;
}

.day-modal .day-modal-wrap .btn {
    //width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #29378c;
}

.day-modal .day-modal-wrap .btn .white {
    width: 100px;
    height: 36px;
    background-color: #29378c;
    outline: 0;
    border: 0;
    border: 1px solid #fff;
    color: #fff;
}
