
.fieldwrap {
    //height: 100vh;
    min-width: 500px;
    max-width: 1163px;
    min-height: 703px;
    margin: 0 auto;
    position: relative;
}

.title {
    min-width: 500px;
    .shotline {
        width: 58px;
        height: 10px;
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: #5c6bc0;
    }
    h1 {
        height: 24px;
        margin: 13px 0 38px;
        font-size: 26px;
        font-weight: 500;
        line-height: 0.69;
        text-align: left;
        color: #e9ecff;
    }
}

.field {
    max-width: 1163px;
    
    .title {
        position: relative;
        height: 51px;
        background-color: #2c3a90;
        border-top-left-radius:  10px;
        border-top-right-radius:  10px;
        .title_wrap {
            position: absolute;
            height: 21px;
            top:0;
            bottom: 0;
            margin: auto auto auto 41px;
            text-align: center;
            span {
                color: #fff;
            }
            .material-icons {
                font-size: 21px;
            }
            .text {
                font-size: 18px;
                width: 21px;
                text-align: center;
            }
        } 
    }
    .input_filed {
        
        .info_input {
            background-color: #0a1f4a;
            border-bottom-right-radius:  10px;
            border-bottom-left-radius:  10px;
            padding: 25px 40px 25px 40px;
        }
        .sub_input {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            .sub_btn {
                background-color: #303f9f;
                width: 150px;
                height: 52px;
                box-shadow: 0px 4px 0 0 rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }
        }
    }
}

.line {
    &:first-child {
        flex-wrap: nowrap;
        span {
            min-height: 16px;
            color: #26c8fd;
            font-size: 16px;
            font-weight: 500;
            margin:auto 16px auto 0;
        }
        .box {
            flex-grow: 0;
            &.in{
                min-width: 100px;
                min-height: 52px;
                position: relative;
                input {
                    min-width: 100px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    padding-left: 12px;
                    box-sizing: border-box;
                    position: absolute;
                }
            }
        }
    }

    &:last-child {
        span,
        label {
            height: 16px;
            color: #26c8fd;
            font-size: 16px;
            font-weight: 500;
            margin:auto 16px auto 0;
        }
        .box {
            &.in{
                min-height: 52px;
                position: relative;
                label {
                    color: #4f5393;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    padding-left: 12px;
                    position: absolute;
                }
            }
        }
    }
}

